:host {
    display: block;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
}

audio, webaudio-knob {
    position: relative;
    z-index: 10;
    margin: 5px;
    padding: 5px 10px;
}
