.knob-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Espace entre les boutons */
}

.audio-equalizer {
    display: flex;
    justify-content: center;
}
