<!-- components/audio-player.html -->
<div class="body">
    <!-- Playlist -->
    <div id="playlist">
        <h3>Playlist</h3>
        <ul id="trackList">
            <!-- Les pistes seront ajoutées ici via JavaScript -->
        </ul>
    </div>

    <audio id="audio" controls>
        <source id="audioSource" src="audio.mp3" type="audio/mpeg">
        Votre navigateur ne supporte pas l'élément audio.
    </audio>
    <div>
        <webaudio-knob id="playButton" src="../knobs/play.png"></webaudio-knob>
        <button id="pauseButton">Pause</button>
        <button id="stopButton">Stop</button>
        <button id="forwardButton">Forward 10s</button>
    </div>
    <div>
        <br>
        <label for="volumeControl">Volume</label>
        <br> 
        <webaudio-knob 
            id="volumeControl" 
            min="0" 
            max="1" 
            step="0.01" 
            value="1" 
            src="../knobs/LittlePhatty.png"
            diameter="64">
        </webaudio-knob>
    </div>

    <!-- Section d'égaliseur de fréquences -->
    <div class="audio-equalizer">
        <label>Bass</label>
        <webaudio-slider id="bassControl" min="-10" max="10" value="0" step="0.1" width="50" height="150" orientation="vertical" ></mid-bass></webaudio-slider>
        <label>Mid-Bass</label>
        <webaudio-slider id="midBassControl" min="-10" max="10" value="0" step="0.1" width="50" height="150" orientation="vertical"></webaudio-slider>
        <label>Mid</label>
        <webaudio-slider id="midControl" min="-10" max="10" value="0" step="0.1" width="50" height="150" orientation="vertical"></webaudio-slider>
        <label>Treble</label>
        <webaudio-slider id="trebleControl" min="-10" max="10" value="0" step="0.1" width="50" height="150" orientation="vertical"></webaudio-slider>
    </div>
    
    <canvas id="visualizer" width="400" height="100"></canvas>
    
    
</div>
