:host {
    display: flex;
    flex-direction: column; /* Disposer les curseurs côte à côte en colonnes */
    gap: 20px;
    margin-top: 20px;
    justify-content: center;

}

.audio-equalizer {
    display: flex;
    flex-direction: column; /* Empiler le label et le curseur verticalement */
    justify-content: center;

}

.audio-equalizer label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

